@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    background-color: #fff;
}

* {
    color: #000;
}

title {
    font-family: 'Lucida Sans';
}

h1, h2, h3 {
    margin: 0;
}

h1 {
    font-size: 24px;
    text-align: center;
}

h2 {
    font-size: 18px;
    text-align: center;
}

h3 {
    font-size: 16px;
    text-align: left;
}

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    background-color: #f0f0f0;
}

.container {
    width: 80vmin;
    padding: 50px 30px;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

.stats {
    font-size: 18px;
    text-align: center;
    font-family: 'Segoe UI';
}

.stats span {
    font-weight: 600;
}

#quote {
    text-align: justify;
    margin: 30px 0;
}

textarea {
    width: 100%;
    border-radius: 5px;
    padding: 10px 5px;
    font-size: 18px;
}

button {
    float: right;
    margin-top: 20px;
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 14px;
}

.result {
    margin-top: 40px;
    display: none;
}

.result h3 {
    font-size: 22px;
    text-align: center;
    margin-bottom: 20px;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.wrapper span {
    font-weight: 600;
}

.success {
    color: #44b267;
}

.fail {
    color: #e81c4e;
}

img {
    width: 105%;
    margin: 1em auto;
    max-width: 100005px;
    height: 1000px;
    object-fit: cover;
    border-radius: 10px;
  }